.leftside p {
  font-family: "Kaushan Script", cursive;
  color: #f36525;
  font-size: 2rem;
  width: 20rem;
  font-weight: bold;
  margin-top: 10rem;
  margin-bottom: 1rem;
}

.box {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  height: 500px;
  width: 330px;
  padding: 1.8rem;
  margin-top: 1rem;
  border-radius: 16px;
  margin-bottom: 4rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 5.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 20px 20px rgba(0, 0, 0, 0.12);
}

.box-right button:hover {
  background-color: #f36625;
  transition: 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.box-input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box-input-row input:first-child {
  width: 7.8rem;
}

.box-input-row input:last-child {
  width: 7.8rem;
}

.box-right {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
}

.box input {
  border-radius: 4px;
  border: solid #ccc;
  border-width: thin;
  color: #111;
  width: 16rem;
  height: 3rem;
  margin: 0.2rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

.box select {
  border-radius: 4px;
  border: solid #ccc;
  border-width: thin;
  color: #111;
  width: 16rem;
  height: 3rem;
  margin: 0.2rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

.box-right button {
  border-radius: 4px;
  border: none;
  width: 16rem;
  height: 4rem;
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem 0 1rem 0.25rem;
  background-color: #f36625ea;
  color: #fff;
}

@media (min-width: 600px) {
  .leftside p {
    font-family: "Kaushan Script", cursive;
    color: #f36525;
    font-size: 4rem;
    width: 20rem;
    font-weight: bold;
    margin-top: 16rem;
    margin-bottom: 1rem;
  }

  .box {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    height: 500px;
    width: 440px;
    padding: 4rem;
    margin-top: 1rem;
    border-radius: 16px;
    margin-bottom: 4rem;
  }

  .box-input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .box-input-row input:first-child {
    width: 8.8rem;
  }

  .box-input-row input:last-child {
    width: 8.8rem;
  }

  .box-right {
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem;
  }

  .box input {
    border-radius: 4px;
    border: solid #ccc;
    border-width: thin;
    color: #111;
    width: 18rem;
    height: 3rem;
    margin: 0.2rem;
    padding: 0.5rem;
    box-sizing: border-box;
  }

  .box select {
    border-radius: 4px;
    border: solid #ccc;
    border-width: thin;
    color: #111;
    width: 18rem;
    height: 3rem;
    margin: 0.2rem;
    padding: 0.5rem;
    box-sizing: border-box;
  }

  .box-right button {
    border-radius: 4px;
    border: none;
    width: 18rem;
    height: 4rem;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0 1rem 0.25rem;
    background-color: #f36625ea;
    color: #fff;
  }
}

@media (min-width: 1000px) {
  .leftside p {
    font-family: "Kaushan Script", cursive;
    color: #f36525;
    font-size: 4rem;
    width: 20rem;
    font-weight: bold;
    margin-bottom: 6rem;
    margin-top: 0;
  }

  .box {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    height: 500px;
    width: 440px;
    padding: 4rem;
    margin-top: 1rem;
    border-radius: 16px;
    margin-bottom: 0;
  }

  .box-input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .box-input-row input:first-child {
    width: 8.8rem;
  }

  .box-input-row input:last-child {
    width: 8.8rem;
  }

  .box-right {
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem;
  }

  .box input {
    border-radius: 4px;
    border: solid #ccc;
    border-width: thin;
    color: #111;
    width: 18rem;
    height: 3rem;
    margin: 0.2rem;
    padding: 0.5rem;
    box-sizing: border-box;
  }

  .box select {
    border-radius: 4px;
    border: solid #ccc;
    border-width: thin;
    color: #111;
    width: 18rem;
    height: 3rem;
    margin: 0.2rem;
    padding: 0.5rem;
    box-sizing: border-box;
  }

  .box-right button {
    border-radius: 4px;
    border: none;
    width: 18rem;
    height: 4rem;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0 1rem 0.25rem;
    background-color: #f36625ea;
    color: #fff;
  }
}
